<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="style.css" rel="stylesheet">
		<title>Paykeeper</title>
	</head>
	<body>
		<div id="app" :class={loaded:data_is_loaded}>
			<h2>Todo:</h2>
			<ol class='tasks'>
				<task-element v-for='(task, idx) in todos' :key="idx" :task='task' @toggle='toggle' @taskremove='deleteTask'></task-element>
			</ol>
			<h3>Add new task:</h3>
			<input v-model="newTaskName" type='text'/>
			<button :class="{ [newTaskName.length < 10 ? 'disabledBtn':'activeBtn']: true }" @click="addTask">Add task</button>
		</div>
		<script src="vue2dev.js"></script>
		<script src="script.js"></script>
	</body>
</html>

